h1 {
    text-align: center;
}

#input-length {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}

#canvas {
    display: grid;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    outline: 1px black solid;
    width: 75vmin;
    height: 75vmin;
    overflow: auto;
    font-size: smaller;
    border-radius: .5%;
}

body {
    font-family: 'Open Sans', 'Arial', sans-serif;
}
