#canvas {
    display: grid;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    outline: 1px black solid;
    width: 75vmin;
    height: 75vmin;
    overflow: auto;
    font-size: smaller;
    border-radius: .5%;
}